USE [NGANHANG]
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKCMNDNV]    Script Date: 6/4/2023 7:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_CHECKCMNDNV]
@MANV NVARCHAR(10), @CM NVARCHAR(10)
AS
BEGIN	
	IF (EXISTS (SELECT 1 FROM DBO.NhanVien WHERE DBO.NhanVien.MANV != @MANV AND DBO.NhanVien.CMND = @CM) 
	or EXISTS (SELECT 1 FROM LINK1.NGANHANG.DBO.NhanVien NV WHERE NV.MANV != @MANV AND NV.CMND = @CM) )
	BEGIN
		RETURN 1;
	END
	RETURN 0;
	END
