USE [NGANHANG]
GO
/****** Object:  User [HTKN]    Script Date: 11/4/2024 9:42:26 PM ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [MSmerge_017164C98F094B06AEB46DFC6374BF66]    Script Date: 11/4/2024 9:42:26 PM ******/
CREATE ROLE [MSmerge_017164C98F094B06AEB46DFC6374BF66]
GO
/****** Object:  DatabaseRole [MSmerge_35057AD7BC964C049318146683585E58]    Script Date: 11/4/2024 9:42:26 PM ******/
CREATE ROLE [MSmerge_35057AD7BC964C049318146683585E58]
GO
/****** Object:  DatabaseRole [MSmerge_F574D5CFA1654125BCFA7897C15AD341]    Script Date: 11/4/2024 9:42:26 PM ******/
CREATE ROLE [MSmerge_F574D5CFA1654125BCFA7897C15AD341]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 11/4/2024 9:42:26 PM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
/****** Object:  DatabaseRole [NHANVIEN]    Script Date: 11/4/2024 9:42:26 PM ******/
CREATE ROLE [NHANVIEN]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [HTKN]
GO
ALTER ROLE [MSmerge_F574D5CFA1654125BCFA7897C15AD341] ADD MEMBER [HTKN]
GO
ALTER ROLE [MSmerge_35057AD7BC964C049318146683585E58] ADD MEMBER [HTKN]
GO
ALTER ROLE [MSmerge_017164C98F094B06AEB46DFC6374BF66] ADD MEMBER [HTKN]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_017164C98F094B06AEB46DFC6374BF66]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_35057AD7BC964C049318146683585E58]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_F574D5CFA1654125BCFA7897C15AD341]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 11/4/2024 9:42:26 PM ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/4/2024 9:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MANV] [nchar](10) NOT NULL,
	[HO] [nvarchar](40) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[CMND] [nchar](10) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[PHAI] [nvarchar](3) NOT NULL,
	[SODT] [nvarchar](15) NOT NULL,
	[MACN] [nchar](10) NULL,
	[TrangThaiXoa] [int] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_DS_NHANVIEN]    Script Date: 11/4/2024 9:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[V_DS_NHANVIEN] AS
SELECT MANV, CONCAT(HO, ' ', TEN) as HOTEN
FROM NHANVIEN 
WHERE TrangThaiXoa = 0 AND NOT EXISTS(SELECT SUSER_SNAME(sid) FROM sys.sysusers WHERE name = CAST(MANV AS VARCHAR))

GO
/****** Object:  View [dbo].[V_DS_PHANMANH]    Script Date: 11/4/2024 9:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_PHANMANH]
AS
SELECT TOP (2) PUBS.description AS TENCN, SUBS.subscriber_server AS TENSERVER
FROM   dbo.sysmergepublications AS PUBS INNER JOIN
             dbo.sysmergesubscriptions AS SUBS ON PUBS.pubid = SUBS.pubid AND PUBS.publisher <> SUBS.subscriber_server
GO
/****** Object:  Table [dbo].[ChiNhanh]    Script Date: 11/4/2024 9:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiNhanh](
	[MACN] [nchar](10) NOT NULL,
	[TENCN] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[SoDT] [nvarchar](15) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_ChiNhanh] PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GD_CHUYENTIEN]    Script Date: 11/4/2024 9:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_CHUYENTIEN](
	[MAGD] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SOTK_CHUYEN] [nchar](9) NOT NULL,
	[NGAYGD] [datetime] NOT NULL,
	[SOTIEN] [money] NOT NULL,
	[SOTK_NHAN] [nchar](9) NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_GD_CHUYENTIEN] PRIMARY KEY CLUSTERED 
(
	[MAGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GD_GOIRUT]    Script Date: 11/4/2024 9:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_GOIRUT](
	[MAGD] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SOTK] [nchar](9) NOT NULL,
	[LOAIGD] [nchar](2) NOT NULL,
	[NGAYGD] [datetime] NOT NULL,
	[SOTIEN] [money] NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_GD_GOIRUT] PRIMARY KEY CLUSTERED 
(
	[MAGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/4/2024 9:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[CMND] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[PHAI] [nvarchar](3) NULL,
	[NGAYCAP] [date] NOT NULL,
	[SODT] [nvarchar](15) NOT NULL,
	[MACN] [nchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 11/4/2024 9:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[SOTK] [nchar](9) NOT NULL,
	[CMND] [nchar](10) NOT NULL,
	[SODU] [money] NULL,
	[MACN] [nchar](10) NULL,
	[NGAYMOTK] [datetime] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[SOTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiNhanh] ([MACN], [TENCN], [DIACHI], [SoDT], [rowguid]) VALUES (N'BENTHANH  ', N'Chi nhánh Bến Thành', N'211 Lê Lợi, Quận 1, TPHCM', N'..', N'4f452733-8625-ef11-877f-e4e749a11f36')
INSERT [dbo].[ChiNhanh] ([MACN], [TENCN], [DIACHI], [SoDT], [rowguid]) VALUES (N'TANDINH   ', N'Chi nhánh Tân Định', N'234 Hai Bà Trưng, phường Đakao, Quận 1, TPHCM', N'...', N'50452733-8625-ef11-877f-e4e749a11f36')
GO
SET IDENTITY_INSERT [dbo].[GD_CHUYENTIEN] ON 

INSERT [dbo].[GD_CHUYENTIEN] ([MAGD], [SOTK_CHUYEN], [NGAYGD], [SOTIEN], [SOTK_NHAN], [MANV], [rowguid]) VALUES (2002, N'1        ', CAST(N'2023-05-17T19:48:17.870' AS DateTime), 200000.0000, N'2        ', N'NV03      ', N'79452733-8625-ef11-877f-e4e749a11f36')
INSERT [dbo].[GD_CHUYENTIEN] ([MAGD], [SOTK_CHUYEN], [NGAYGD], [SOTIEN], [SOTK_NHAN], [MANV], [rowguid]) VALUES (2003, N'2        ', CAST(N'2023-05-17T19:50:18.803' AS DateTime), 200000.0000, N'1        ', N'NV03      ', N'7a452733-8625-ef11-877f-e4e749a11f36')
INSERT [dbo].[GD_CHUYENTIEN] ([MAGD], [SOTK_CHUYEN], [NGAYGD], [SOTIEN], [SOTK_NHAN], [MANV], [rowguid]) VALUES (2004, N'4        ', CAST(N'2023-05-17T19:54:40.470' AS DateTime), 300000.0000, N'2        ', N'NV03      ', N'7b452733-8625-ef11-877f-e4e749a11f36')
SET IDENTITY_INSERT [dbo].[GD_CHUYENTIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[GD_GOIRUT] ON 

INSERT [dbo].[GD_GOIRUT] ([MAGD], [SOTK], [LOAIGD], [NGAYGD], [SOTIEN], [MANV], [rowguid]) VALUES (2003, N'1        ', N'RT', CAST(N'2023-05-16T21:14:41.140' AS DateTime), 1000000.0000, N'NV03      ', N'8c452733-8625-ef11-877f-e4e749a11f36')
INSERT [dbo].[GD_GOIRUT] ([MAGD], [SOTK], [LOAIGD], [NGAYGD], [SOTIEN], [MANV], [rowguid]) VALUES (2004, N'2        ', N'GT', CAST(N'2023-05-16T21:20:51.380' AS DateTime), 200000.0000, N'NV03      ', N'8d452733-8625-ef11-877f-e4e749a11f36')
INSERT [dbo].[GD_GOIRUT] ([MAGD], [SOTK], [LOAIGD], [NGAYGD], [SOTIEN], [MANV], [rowguid]) VALUES (2005, N'3        ', N'RT', CAST(N'2023-05-17T15:35:19.957' AS DateTime), 200000.0000, N'NV03      ', N'8e452733-8625-ef11-877f-e4e749a11f36')
SET IDENTITY_INSERT [dbo].[GD_GOIRUT] OFF
GO
INSERT [dbo].[KhachHang] ([CMND], [HO], [TEN], [DIACHI], [PHAI], [NGAYCAP], [SODT], [MACN], [rowguid]) VALUES (N'0243234172', N'Lê Thanh', N'Bình', N'Bình Thạnh', N'Nữ', CAST(N'2016-07-07' AS Date), N'0375773079', N'TANDINH   ', N'60452733-8625-ef11-877f-e4e749a11f36')
INSERT [dbo].[KhachHang] ([CMND], [HO], [TEN], [DIACHI], [PHAI], [NGAYCAP], [SODT], [MACN], [rowguid]) VALUES (N'0330023232', N'Nguyễn Đăng', N'Việt', N'PTITHCM', N'Nam', CAST(N'2024-06-09' AS Date), N'0099988323', N'BENTHANH  ', N'40f8df71-1926-ef11-877f-e4e749a11f36')
INSERT [dbo].[KhachHang] ([CMND], [HO], [TEN], [DIACHI], [PHAI], [NGAYCAP], [SODT], [MACN], [rowguid]) VALUES (N'0404028222', N'Hoàng Thanh', N'Bùi', N'Phú Nhuận', N'Nam', CAST(N'2017-08-07' AS Date), N'0963140716', N'BENTHANH  ', N'61452733-8625-ef11-877f-e4e749a11f36')
GO
INSERT [dbo].[NhanVien] ([MANV], [HO], [TEN], [CMND], [DIACHI], [PHAI], [SODT], [MACN], [TrangThaiXoa], [rowguid]) VALUES (N'NV01      ', N'Trần Minh', N'Nguyên', N'0123456789', N'Đồng Nai', N'Nam', N'0111111111', N'BENTHANH  ', 0, N'6d452733-8625-ef11-877f-e4e749a11f36')
INSERT [dbo].[NhanVien] ([MANV], [HO], [TEN], [CMND], [DIACHI], [PHAI], [SODT], [MACN], [TrangThaiXoa], [rowguid]) VALUES (N'NV02      ', N'Lê Văn', N'Huy', N'0812748172', N'Quảng Bình', N'Nam', N'2222222222', N'TANDINH   ', 0, N'6e452733-8625-ef11-877f-e4e749a11f36')
INSERT [dbo].[NhanVien] ([MANV], [HO], [TEN], [CMND], [DIACHI], [PHAI], [SODT], [MACN], [TrangThaiXoa], [rowguid]) VALUES (N'NV03      ', N'Vũ Văn', N'Thanh', N'0918283212', N'Quận 5', N'Nam', N'0123456789', N'BENTHANH  ', 0, N'6f452733-8625-ef11-877f-e4e749a11f36')
GO
INSERT [dbo].[TaiKhoan] ([SOTK], [CMND], [SODU], [MACN], [NGAYMOTK], [rowguid]) VALUES (N'09787832 ', N'0330023232', 200000.0000, N'BENTHANH  ', CAST(N'2024-06-09T00:00:00.000' AS DateTime), N'b91b55ad-1926-ef11-877f-e4e749a11f36')
INSERT [dbo].[TaiKhoan] ([SOTK], [CMND], [SODU], [MACN], [NGAYMOTK], [rowguid]) VALUES (N'1        ', N'0451882661', 23500100.0000, N'TANDINH   ', CAST(N'2023-05-05T00:00:00.000' AS DateTime), N'51452733-8625-ef11-877f-e4e749a11f36')
INSERT [dbo].[TaiKhoan] ([SOTK], [CMND], [SODU], [MACN], [NGAYMOTK], [rowguid]) VALUES (N'10       ', N'0243234172', 10000000.0000, N'BENTHANH  ', CAST(N'2023-05-10T00:00:00.000' AS DateTime), N'52452733-8625-ef11-877f-e4e749a11f36')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_ChiNhanh]    Script Date: 11/4/2024 9:42:26 PM ******/
ALTER TABLE [dbo].[ChiNhanh] ADD  CONSTRAINT [UK_ChiNhanh] UNIQUE NONCLUSTERED 
(
	[TENCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiNhanh] ADD  CONSTRAINT [MSmerge_df_rowguid_03F5BC2C375B4D388625C246B63AE922]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] ADD  CONSTRAINT [DF_GD_CHUYENTIEN_NGAYGD]  DEFAULT (getdate()) FOR [NGAYGD]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_BC4F832CFF6143A4988AAFC1F7E88D1D]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GD_GOIRUT] ADD  CONSTRAINT [DF_GD_GOIRUT_NGAYGD]  DEFAULT (getdate()) FOR [NGAYGD]
GO
ALTER TABLE [dbo].[GD_GOIRUT] ADD  CONSTRAINT [DF_GD_GOIRUT_SOTIEN]  DEFAULT ((100000)) FOR [SOTIEN]
GO
ALTER TABLE [dbo].[GD_GOIRUT] ADD  CONSTRAINT [MSmerge_df_rowguid_B674CEC754724C4AB8F41D3AFA3565A3]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [MSmerge_df_rowguid_66FF89BC361648E9B0DDC5720774CC40]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [DF_NhanVien_PHAI]  DEFAULT (N'Nam') FOR [PHAI]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [MSmerge_df_rowguid_90F0D751A73347428A0C04128C387235]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((0)) FOR [SODU]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [MSmerge_df_rowguid_A00D26FDACF5448990ABCC06710413C2]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [FK_GD_CHUYENTIEN_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_CHUYENTIEN_NhanVien]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoan] FOREIGN KEY([SOTK_CHUYEN])
REFERENCES [dbo].[TaiKhoan] ([SOTK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoan]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoan1] FOREIGN KEY([SOTK_NHAN])
REFERENCES [dbo].[TaiKhoan] ([SOTK])
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoan1]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [FK_GD_GOIRUT_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [FK_GD_GOIRUT_NhanVien]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [FK_GD_GOIRUT_TaiKhoan] FOREIGN KEY([SOTK])
REFERENCES [dbo].[TaiKhoan] ([SOTK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [FK_GD_GOIRUT_TaiKhoan]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_ChiNhanh]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChiNhanh]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [CK_GD_CHUYENTIEN] CHECK  (([SOTIEN]>(0)))
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [CK_GD_CHUYENTIEN]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_ED4E9346_678A_478C_B80D_6D876F822D26] CHECK NOT FOR REPLICATION (([MAGD]>(24011) AND [MAGD]<=(25011) OR [MAGD]>(25011) AND [MAGD]<=(26011)))
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [repl_identity_range_ED4E9346_678A_478C_B80D_6D876F822D26]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [CK_LOAIGD] CHECK  (([LOAIGD]='RT' OR [LOAIGD]='GT'))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [CK_LOAIGD]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [CK_SOTIEN] CHECK  (([SOTIEN]>=(100000)))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [CK_SOTIEN]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_25905A73_79EE_469B_85DC_FFA3E3923D59] CHECK NOT FOR REPLICATION (([MAGD]>(24009) AND [MAGD]<=(25009) OR [MAGD]>(25009) AND [MAGD]<=(26009)))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [repl_identity_range_25905A73_79EE_469B_85DC_FFA3E3923D59]
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKCMNDNV]    Script Date: 11/4/2024 9:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKCMNDNV]
@MANV NVARCHAR(10), @CM NVARCHAR(10)
AS
BEGIN	
	IF (EXISTS (SELECT 1 FROM DBO.NhanVien WHERE DBO.NhanVien.MANV != @MANV AND DBO.NhanVien.CMND = @CM) 
	or EXISTS (SELECT 1 FROM LINK0.NGANHANG.DBO.NhanVien NV WHERE NV.MANV != @MANV AND NV.CMND = @CM) )
	BEGIN
		RETURN 1;
	END
	RETURN 0;
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKCUSHAVEACCOUNTS]    Script Date: 11/4/2024 9:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKCUSHAVEACCOUNTS]
@CMND NCHAR(10)
AS
BEGIN
	
	IF EXISTS(SELECT 1 FROM TaiKhoan
				WHERE TaiKhoan.CMND = @CMND)
	BEGIN
		RETURN 1;
	END

	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKKHEXISTS]    Script Date: 11/4/2024 9:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKKHEXISTS]
@CMND NCHAR(10)
AS
BEGIN
	
	IF EXISTS (SELECT 1 FROM DBO.KhachHang WHERE DBO.KhachHang.CMND = @CMND) 
	BEGIN
		RETURN 1;
	END

	IF EXISTS (SELECT 1 FROM LINK2.NganHang.DBO.KhachHang KH WHERE KH.CMND = @CMND) 
	BEGIN
		RETURN 1;
	END

	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKNVEXISTS]    Script Date: 11/4/2024 9:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_CHECKNVEXISTS]
@MANV NVARCHAR(10)
AS
BEGIN
	
	IF EXISTS (SELECT 1 FROM DBO.NhanVien WHERE DBO.NhanVien.MANV = @MANV) 
	BEGIN
		RETURN 1;
	END

	IF EXISTS (SELECT 1 FROM LINK0.NGANHANG.DBO.NhanVien NV WHERE NV.MANV = @MANV) 
	BEGIN
		RETURN 1;
	END

	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKSDTNV]    Script Date: 11/4/2024 9:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKSDTNV]
@MANV NVARCHAR(10), @SDT NVARCHAR(15)
AS
BEGIN
	IF (EXISTS (SELECT 1 FROM DBO.NhanVien WHERE DBO.NhanVien.MANV != @MANV AND DBO.NhanVien.SODT = @SDT) 
	or EXISTS (SELECT 1 FROM LINK0.NGANHANG.DBO.NhanVien NV WHERE NV.MANV != @MANV AND NV.SODT = @SDT) )
	BEGIN
		RETURN 1;
	END
	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKSODU]    Script Date: 11/4/2024 9:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKSODU]
@SOTIEN money, @SOTK nchar(9)
AS
BEGIN
	
	IF EXISTS (SELECT 1 FROM DBO.TaiKhoan WHERE DBO.TaiKhoan.SOTK = @SOTK) 
	BEGIN
		IF EXISTS (SELECT 1 FROM DBO.TaiKhoan WHERE DBO.TaiKhoan.SODU > @SOTIEN and DBO.TaiKhoan.SOTK = @SOTK) 
			BEGIN
			RETURN 0
			END
		RETURN 2
	END
	RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckStkExists]    Script Date: 11/4/2024 9:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CheckStkExists]
@SOTK nchar(9)
AS
BEGIN
	
	IF EXISTS (SELECT 1 FROM DBO.TaiKhoan WHERE DBO.TaiKhoan.SOTK = @SOTK) 
	BEGIN
		RETURN 1;
	END
	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ChuyenCN]    Script Date: 11/4/2024 9:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ChuyenCN]
	@manv nvarchar(10),
	@macngo nvarchar(10)
AS
DECLARE @manvmax nvarchar(10) = SUBSTRING((SELECT TOP 1 MANV FROM LINK0.NGANHANG.DBO.NhanVien ORDER BY MANV DESC), 3,9)
IF (@manvmax < 10)
	SET @manvmax = CONCAT('NV', '0', @manvmax + 1)
ELSE
	SET @manvmax = CONCAT('NV', @manvmax + 1)
SET XACT_ABORT ON
BEGIN DISTRIBUTED TRANSACTION
	IF EXISTS (SELECT * FROM LINK1.NGANHANG.DBO.NhanVien
				WHERE CMND = (SELECT CMND FROM NhanVien WHERE MANV = @manv))
	BEGIN
		UPDATE NhanVien
			SET TrangThaiXoa = 1
			WHERE MANV = @manv

		UPDATE LINK1.NGANHANG.DBO.NhanVien
			SET TrangThaiXoa = 0
			WHERE CMND = (SELECT CMND FROM NhanVien WHERE MANV = @manv)
	END
	ELSE
	BEGIN
		INSERT INTO LINK1.NGANHANG.DBO.NhanVien(MANV, HO, TEN,CMND, DIACHI, PHAI, SODT, MACN, TrangThaiXoa)
			SELECT @manvmax AS MANV, HO, TEN,CMND, DIACHI, PHAI, SODT, @macngo AS MACN, 0 FROM NhanVien WHERE MANV = @manv

		UPDATE NhanVien
			SET TrangThaiXoa = 1
			WHERE MANV = @manv
	END

		COMMIT TRANSACTION
GO
/****** Object:  StoredProcedure [dbo].[SP_ChuyenCNSS]    Script Date: 11/4/2024 9:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ChuyenCNSS]
	@manv nvarchar(10),
	@macngo nvarchar(10)
AS
BEGIN
SET XACT_ABORT ON
BEGIN DISTRIBUTED TRANSACTION
-- ĐỔI TRẠNG THÁI NV
	DECLARE @STR1 NVARCHAR(3000)
	SET @STR1 = 'EXEC SP_SetTTChuyenCNSS '+''''+@manv+''''
	IF EXISTS (SELECT job_id FROM  msdb.dbo.sysjobs_view WHERE name=N'job_1')
		EXEC msdb.dbo.sp_delete_job @job_name=N'job_1'
	EXECUTE msdb.dbo.sp_add_job @job_name = N'job_1', @start_step_id=1
	EXECUTE msdb.dbo.sp_add_jobserver @job_name = N'job_1', @server_name = @@SERVERNAME
	EXECUTE msdb.dbo.sp_add_jobstep @job_name = N'job_1', @step_id=1, @step_name = 'DOI TT',
	@command = @STR1 , @server = @@SERVERNAME, @database_name = 'NGANHANG'
	EXECUTE msdb.dbo.sp_start_job @job_name = N'job_1'
-- TAO NV O SV KHAC
	EXECUTE LINK1.NGANHANG.dbo.SP_TaoTKChuyenCNSS @manv, @macngo
		COMMIT TRANSACTION	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 11/4/2024 9:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_DANGNHAP]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(50)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
 
 SELECT  TRANGTHAI = (SELECT TrangThaiXoa FROM NHANVIEN  WHERE MANV = @TENUSER ),
  USERNAME = @TENUSER,  
  HOTEN = (SELECT HO+ ' '+ TEN FROM NHANVIEN  WHERE MANV = @TENUSER ),
   TENNHOM= NAME
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
                   WHERE MEMBERUID= (SELECT UID FROM sys.sysusers 
                                      WHERE NAME=@TENUSER))
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAPKH]    Script Date: 11/4/2024 9:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANGNHAPKH]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(50)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
 
 SELECT  TRANGTHAI = 0,
  USERNAME = @TENUSER,  
  HOTEN = (SELECT HO+ ' '+ TEN FROM KhachHang  WHERE CMND = @TENUSER ),
   TENNHOM = NAME
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
                   WHERE MEMBERUID= (SELECT UID FROM sys.sysusers 
                                      WHERE NAME=@TENUSER))
GO
/****** Object:  StoredProcedure [dbo].[SP_GDCHUYENTIEN]    Script Date: 11/4/2024 9:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GDCHUYENTIEN] 
@SOTK_CHUYEN nchar(9),
@SOTIEN MONEY,
@SOTK_NHAN nchar(9)
AS
DECLARE @USERNAME NCHAR(50);
SET @USERNAME = ( SELECT CURRENT_USER );
SET XACT_ABORT ON;
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;

BEGIN TRY
	BEGIN TRAN
		IF EXISTS(SELECT 1 FROM dbo.TaiKhoan WHERE dbo.TaiKhoan.SOTK =  @SOTK_CHUYEN AND dbo.TaiKhoan.SODU > @SOTIEN
			AND (EXISTS(SELECT 1 FROM dbo.TaiKhoan WHERE dbo.TaiKhoan.SOTK = @SOTK_NHAN)))
			BEGIN
				UPDATE dbo.TaiKhoan SET SODU = SODU - @SOTIEN WHERE SOTK = @SOTK_CHUYEN
				UPDATE dbo.TaiKhoan SET SODU = SODU + @SOTIEN WHERE SOTK = @SOTK_NHAN
				INSERT INTO dbo.GD_CHUYENTIEN(SOTK_CHUYEN, SOTIEN, SOTK_NHAN, MANV) VALUES (@SOTK_CHUYEN, @SOTIEN, @SOTK_NHAN, @USERNAME);
				SELECT RESULT = 0
			END
		ELSE SELECT RESULT = 1
	COMMIT TRAN;
END TRY
BEGIN CATCH
	BEGIN
		ROLLBACK TRAN;
	END;
	THROW;
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SP_GDGOIRUT]    Script Date: 11/4/2024 9:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GDGOIRUT] @SOTIEN MONEY,
@TYPE nchar(2),
@SOTK nchar(9)
AS
DECLARE @USERNAME NCHAR(50);
SET @USERNAME = ( SELECT CURRENT_USER );
SET XACT_ABORT ON;
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;

BEGIN TRY
	BEGIN TRAN
	IF(@TYPE = 'RT')
		IF EXISTS(SELECT 1 FROM dbo.TaiKhoan WHERE dbo.TaiKhoan.SOTK =  @SOTK AND dbo.TaiKhoan.SODU > @SOTIEN)
			BEGIN
				UPDATE dbo.TaiKhoan SET SODU = SODU - @SOTIEN WHERE SOTK = @SOTK
				INSERT INTO dbo.GD_GOIRUT (SOTK, LOAIGD, SOTIEN, MANV) VALUES (@SOTK, @TYPE, @SOTIEN, @USERNAME);
			END
			

	IF(@TYPE = 'GT')
		IF EXISTS(SELECT 1 FROM dbo.TaiKhoan WHERE dbo.TaiKhoan.SOTK =  @SOTK)
			BEGIN
				UPDATE dbo.TaiKhoan SET SODU = SODU + @SOTIEN WHERE SOTK = @SOTK
				INSERT INTO dbo.GD_GOIRUT (SOTK, LOAIGD, SOTIEN, MANV) VALUES (@SOTK, @TYPE, @SOTIEN, @USERNAME);
			END
	COMMIT TRAN;
END TRY
BEGIN CATCH
	BEGIN
		ROLLBACK TRAN;
	END;
	THROW;
END CATCH

GO
/****** Object:  StoredProcedure [dbo].[SP_LietKeKhachHang]    Script Date: 11/4/2024 9:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LietKeKhachHang]
@type int
AS
CREATE TABLE #TAM (
	MACN nvarchar(10),
	HO nvarchar(50),
	TEN nvarchar(10),
	CMND nvarchar(10),
	DIACHI nvarchar(100),
	PHAI nvarchar(3),
	NGAYCAP date,
	SODT nvarchar(15)
)
If(@type = 0)
INSERT INTO #TAM SELECT MACN, HO, TEN, CMND, DIACHI, PHAI, NGAYCAP, SODT From NGANHANG.dbo.KhachHang 

ELSE If(@type = 1)
INSERT INTO #TAM SELECT MACN, HO, TEN, CMND, DIACHI, PHAI, NGAYCAP, SODT From LINK1.NGANHANG.dbo.KhachHang
	
ELSE If(@type = 2)
INSERT INTO #TAM SELECT MACN, HO, TEN, CMND, DIACHI, PHAI, NGAYCAP, SODT From LINK2.NGANHANG.dbo.KhachHang
	

	 SELECT MACN, HOTEN = HO + ' ' + TEN , CMND, DIACHI, PHAI, NGAYCAP, SODT FROM #TAM ORDER BY MACN, TEN, HO
GO
/****** Object:  StoredProcedure [dbo].[SP_LietKeTaiKhoan]    Script Date: 11/4/2024 9:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LietKeTaiKhoan]
	@type int, 
	@tungay DATETIME,
	@denngay DATETIME,
	@chinhanh nvarchar(10)
		AS
SET DATEFORMAT DMY
CREATE TABLE #TAM (
	SOTK nvarchar(9),
	CMND nvarchar(10),
	SODU money,
	MACN nvarchar(10),
	NGAYMOTK datetime,
)
IF(@type = 0)
INSERT INTO #TAM SELECT SOTK,CMND,SODU,MACN,NGAYMOTK FROM dbo.TaiKhoan WHERE MACN = @chinhanh AND NGAYMOTK >= @tungay AND NGAYMOTK <= @denngay 
ELSE IF(@type = 1)
INSERT INTO #TAM SELECT SOTK,CMND,SODU,MACN,NGAYMOTK FROM dbo.TaiKhoan WHERE NGAYMOTK >= @tungay AND NGAYMOTK <= @denngay 

SELECT * FROM #TAM ORDER BY NGAYMOTK
GO
/****** Object:  StoredProcedure [dbo].[SP_SAOKETAIKHOAN]    Script Date: 11/4/2024 9:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SAOKETAIKHOAN]
	@soTK NCHAR(9),
	@from DATETIME,
	@to DATETIME
AS
BEGIN
  SET NOCOUNT ON;  
	DECLARE @soDu MONEY;
	IF EXISTS(SELECT SOTK FROM TAIKHOAN WHERE SOTK=@soTK)
	BEGIN 
		IF EXISTS(SELECT 1 FROM LINK1.NGANHANG.dbo.GD_CHUYENTIEN WHERE SOTK_NHAN = @soTK OR SOTK_CHUYEN = @soTK)
			BEGIN
			SELECT @soDu=SODU FROM TAIKHOAN WHERE SOTK=@soTK;
			SELECT * INTO #tmp FROM
			(
			SELECT SOTIENBIENDONG= CASE WHEN LOAIGD='GT' THEN SOTIEN ELSE -SOTIEN END,NGAYGD,LOAIGD FROM GD_GOIRUT WHERE SOTK=@soTK AND NGAYGD >=@from
			UNION
			SELECT SOTIENBIENDONG= CASE WHEN LOAIGD='GT' THEN SOTIEN ELSE -SOTIEN END,NGAYGD,LOAIGD FROM LINK1.NGANHANG.dbo.GD_GOIRUT WHERE SOTK=@soTK AND NGAYGD >=@from
			UNION
			SELECT SOTIENBIENDONG=CASE WHEN SOTK_CHUYEN=@soTK THEN -SOTIEN ELSE SOTIEN END,NGAYGD, LOAIGD=CASE WHEN SOTK_CHUYEN=@soTK THEN 'CT' ELSE 'NT' END FROM GD_CHUYENTIEN WHERE (SOTK_CHUYEN=@soTK OR SOTK_NHAN=@soTK) AND NGAYGD >=@from
			UNION
			SELECT SOTIENBIENDONG=CASE WHEN SOTK_NHAN=@soTK THEN SOTIEN ELSE -SOTIEN END,NGAYGD, LOAIGD=CASE WHEN SOTK_CHUYEN=@soTK THEN 'CT' ELSE 'NT' END FROM LINK1.NGANHANG.dbo.GD_CHUYENTIEN WHERE (SOTK_CHUYEN=@soTK OR SOTK_NHAN=@soTK) AND NGAYGD >=@from
			) GD;
				
			SELECT *,(SODUDAU+SOTIEN) SODUCUOI FROM(
			SELECT NGAYGD,LOAIGD,SOTIENBIENDONG AS SOTIEN,(@soDu-(SELECT SUM(SOTIENBIENDONG) FROM #tmp B WHERE B.NGAYGD>=A.NGAYGD)) SODUDAU  FROM #tmp A  WHERE NGAYGD>=@from AND NGAYGD<=@to
			) REC ORDER BY NGAYGD;
		END;
		ELSE
		BEGIN
		SELECT @soDu=SODU FROM TAIKHOAN WHERE SOTK=@soTK;
		SELECT * INTO #tmp11 FROM
		(
		SELECT SOTIENBIENDONG= CASE WHEN LOAIGD='GT' THEN SOTIEN ELSE -SOTIEN END,NGAYGD,LOAIGD FROM GD_GOIRUT WHERE SOTK=@soTK AND NGAYGD >=@from
		UNION
		SELECT SOTIENBIENDONG= CASE WHEN LOAIGD='GT' THEN SOTIEN ELSE -SOTIEN END,NGAYGD,LOAIGD FROM LINK1.NGANHANG.dbo.GD_GOIRUT WHERE SOTK=@soTK AND NGAYGD >=@from
		UNION
		SELECT SOTIENBIENDONG=CASE WHEN SOTK_CHUYEN=@soTK THEN -SOTIEN ELSE SOTIEN END,NGAYGD, LOAIGD=CASE WHEN SOTK_CHUYEN=@soTK THEN 'CT' ELSE 'NT' END FROM GD_CHUYENTIEN WHERE (SOTK_CHUYEN=@soTK OR SOTK_NHAN=@soTK) AND NGAYGD >=@from
		) GD;
			
		SELECT *,(SODUDAU+SOTIEN) SODUCUOI FROM(
		SELECT NGAYGD,LOAIGD,SOTIENBIENDONG AS SOTIEN,(@soDu-(SELECT SUM(SOTIENBIENDONG) FROM #tmp11 B WHERE B.NGAYGD>=A.NGAYGD)) SODUDAU  FROM #tmp11 A  WHERE NGAYGD>=@from AND NGAYGD<=@to
		) REC ORDER BY NGAYGD;
		END;
	END;
	ELSE  
	BEGIN
		SELECT @soDu=SODU FROM TAIKHOAN WHERE SOTK=@soTK;
		SELECT * INTO #tmp3 FROM
		(
		SELECT SOTIENBIENDONG= CASE WHEN LOAIGD='GT' THEN SOTIEN ELSE -SOTIEN END,NGAYGD,LOAIGD FROM GD_GOIRUT WHERE SOTK=@soTK AND NGAYGD >=@from
		UNION
		SELECT SOTIENBIENDONG=CASE WHEN SOTK_CHUYEN=@soTK THEN -SOTIEN ELSE SOTIEN END,NGAYGD, LOAIGD=CASE WHEN SOTK_CHUYEN=@soTK THEN 'CT' ELSE 'NT' END FROM GD_CHUYENTIEN WHERE (SOTK_CHUYEN=@soTK OR SOTK_NHAN=@soTK) AND NGAYGD >=@from
		) GD;

	
		SELECT *,(SODUDAU+SOTIEN) SODUCUOI FROM(
		SELECT NGAYGD,LOAIGD,SOTIENBIENDONG AS SOTIEN,(@soDu-(SELECT SUM(SOTIENBIENDONG) FROM #tmp3 B WHERE B.NGAYGD>=A.NGAYGD)) SODUDAU  FROM #tmp3 A  WHERE NGAYGD>=@from AND NGAYGD<=@to
		) REC ORDER BY NGAYGD DESC;
	END;
END


GO
/****** Object:  StoredProcedure [dbo].[SP_SetTTChuyenCNSS]    Script Date: 11/4/2024 9:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SetTTChuyenCNSS]
	@manv nvarchar(10)
AS
BEGIN
	UPDATE NhanVien
			SET TrangThaiXoa = 1
			WHERE MANV = @manv
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TAOACCOUNT]    Script Date: 11/4/2024 9:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAOACCOUNT]
    @LGNAME VARCHAR(50),  @PASS VARCHAR(50),
    @USERNAME VARCHAR(50),  @ROLE VARCHAR(50)     
AS
  DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS, 'NGANHANG'
  IF (@RET =1)  -- LOGIN NAME BI TRUNG
  BEGIN
     RAISERROR ('Tài khoản này đã có người sử dụng!', 16,1)
	 RETURN
  END 
  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
  IF (@RET =1)  -- USER  NAME BI TRUNG
  BEGIN
       EXEC SP_DROPLOGIN @LGNAME
       RAISERROR ('Nhân viên này đã có login name!', 16,2)
       RETURN
  END
  EXEC sp_addrolemember @ROLE, @USERNAME
  IF @ROLE = 'CHINHANH' OR @ROLE = 'NGANHANG'
  BEGIN
      EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
  END
GO
/****** Object:  StoredProcedure [dbo].[SP_TaoTKChuyenCNSS]    Script Date: 11/4/2024 9:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TaoTKChuyenCNSS]
	@manv nvarchar(10),
	@macngo nvarchar(10)
AS
DECLARE @manvmax nvarchar(10) = SUBSTRING((SELECT TOP 1 MANV FROM LINK0.NGANHANG.DBO.NhanVien ORDER BY MANV DESC), 3,9)
IF (@manvmax < 10)
	SET @manvmax = CONCAT('NV', '0', @manvmax + 1)
ELSE
	SET @manvmax = CONCAT('NV', @manvmax + 1)
IF EXISTS (SELECT * FROM NhanVien
				WHERE CMND = (SELECT CMND FROM LINK1.NGANHANG.dbo.NhanVien WHERE MANV = @manv))
BEGIN
	UPDATE  NhanVien
			SET TrangThaiXoa = 0
			WHERE CMND = (SELECT CMND FROM LINK1.NGANHANG.dbo.NhanVien WHERE MANV = @manv)
END
ELSE
BEGIN
INSERT INTO NhanVien(MANV, HO, TEN,CMND, DIACHI, PHAI, SODT, MACN, TrangThaiXoa)
			SELECT @manvmax AS MANV, HO, TEN,CMND, DIACHI, PHAI, SODT, @macngo AS MACN, 0 FROM LINK1.NGANHANG.dbo.NhanVien AS NV WHERE NV.MANV = @manv
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ThongTinChuTK]    Script Date: 11/4/2024 9:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ThongTinChuTK]
@SOTK NCHAR(9)
AS
BEGIN
	DECLARE @CMND NCHAR(10);
	IF EXISTS(SELECT CMND FROM TAIKHOAN WHERE SOTK = @SOTK)
	BEGIN
		SELECT @CMND=CMND FROM TAIKHOAN WHERE SOTK = @SOTK;
		IF EXISTS(SELECT 1 FROM KHACHHANG WHERE CMND = @CMND)
		BEGIN
			SELECT HOTEN, DIACHI, SOTK, TK.MACN
			FROM(	SELECT CMND, SOTK, MACN
					FROM TAIKHOAN
					WHERE SOTK = @SOTK ) TK,
				(	SELECT CMND, HOTEN=HO + ' ' + TEN, DIACHI
					FROM KHACHHANG ) KH
			WHERE KH.CMND = TK.CMND
		END
		ELSE
		BEGIN
			SELECT HOTEN, DIACHI, SOTK, TK.MACN
			FROM(	SELECT CMND, SOTK, MACN
					FROM TAIKHOAN
					WHERE SOTK = @SOTK ) TK,
				(	SELECT CMND, HOTEN=HO + ' ' + TEN, DIACHI
					FROM LINK2.NGANHANG.dbo.KHACHHANG ) KH
			WHERE KH.CMND = TK.CMND
		END		
	END
	ELSE
	BEGIN
		RAISERROR('So tai khoan khong ton tai',16,1)
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TRACUUKH]    Script Date: 11/4/2024 9:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TRACUUKH]
@CMND NCHAR(10)
AS
BEGIN
 IF EXISTS (SELECT 1 FROM KhachHang KH WHERE KH.CMND = @CMND) 
	BEGIN
		RETURN 1;
	END
 IF EXISTS (SELECT 1 FROM LINK2.NganHang.DBO.KhachHang KH WHERE KH.CMND = @CMND) 
	BEGIN
		RETURN 1;
	END

	RETURN 0;
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'‘GT’ : gởi tiền vào TK , ‘RT’ : rút tiền khỏi TK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GD_GOIRUT', @level2type=N'COLUMN',@level2name=N'LOAIGD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "PUBS"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 206
               Right = 447
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SUBS"
            Begin Extent = 
               Top = 207
               Left = 57
               Bottom = 404
               Right = 400
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_DS_PHANMANH'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_DS_PHANMANH'
GO
