USE [NGANHANG]
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKCUSHAVEACCOUNTS]    Script Date: 6/4/2023 7:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_CHECKCUSHAVEACCOUNTS]
@CMND NCHAR(10)
AS
BEGIN
	
	IF EXISTS(SELECT 1 FROM TaiKhoan
				WHERE TaiKhoan.CMND = @CMND)
	BEGIN
		RETURN 1;
	END

	RETURN 0;
END
