USE [NGANHANG]
GO
/****** Object:  StoredProcedure [dbo].[SP_SAOKETAIKHOAN]    Script Date: 6/4/2023 7:28:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_SAOKETAIKHOAN]
	@soTK NCHAR(9),
	@from DATETIME,
	@to DATETIME
AS
BEGIN
  SET NOCOUNT ON;  
    IF 1=0 BEGIN  
        SET FMTONLY OFF  
    END  
	/*IF OBJECT_ID('tempdb..#tmp') IS NOT NULL DROP TABLE #tmp*/
	DECLARE @soDu MONEY;
	IF EXISTS(SELECT SOTK FROM TAIKHOAN WHERE SOTK=@soTK)
	BEGIN 
		IF EXISTS(SELECT 1 FROM LINK1.NGANHANG.dbo.GD_CHUYENTIEN WHERE SOTK_NHAN = @soTK OR SOTK_CHUYEN = @soTK)
			BEGIN
			SELECT @soDu=SODU FROM TAIKHOAN WHERE SOTK=@soTK;
			SELECT * INTO #tmp FROM
			(
			SELECT SOTIENBIENDONG= CASE WHEN LOAIGD='GT' THEN SOTIEN ELSE -SOTIEN END,NGAYGD,LOAIGD FROM GD_GOIRUT WHERE SOTK=@soTK
			UNION
			SELECT SOTIENBIENDONG= CASE WHEN LOAIGD='GT' THEN SOTIEN ELSE -SOTIEN END,NGAYGD,LOAIGD FROM LINK1.NGANHANG.dbo.GD_GOIRUT WHERE SOTK=@soTK
			UNION
			SELECT SOTIENBIENDONG=CASE WHEN SOTK_CHUYEN=@soTK THEN -SOTIEN ELSE SOTIEN END,NGAYGD,'CT' LOAIGD FROM GD_CHUYENTIEN WHERE SOTK_CHUYEN=@soTK OR SOTK_NHAN=@soTK
			UNION
			SELECT SOTIENBIENDONG=CASE WHEN SOTK_NHAN=@soTK THEN SOTIEN ELSE -SOTIEN END,NGAYGD,'CT' LOAIGD FROM LINK1.NGANHANG.dbo.GD_CHUYENTIEN WHERE SOTK_NHAN=@soTK OR SOTK_CHUYEN=@soTK
			) GD;
				
			SELECT *,(SODUDAU+SOTIEN) SODUCUOI FROM(
			SELECT NGAYGD,LOAIGD,SOTIENBIENDONG AS SOTIEN,(@soDu-(SELECT SUM(SOTIENBIENDONG) FROM #tmp B WHERE B.NGAYGD>=A.NGAYGD)) SODUDAU  FROM #tmp A  WHERE NGAYGD>=@from AND NGAYGD<=@to
			) REC ORDER BY NGAYGD;
		END;
		ELSE
		BEGIN
		SELECT @soDu=SODU FROM TAIKHOAN WHERE SOTK=@soTK;
		SELECT * INTO #tmp11 FROM
		(
		SELECT SOTIENBIENDONG= CASE WHEN LOAIGD='GT' THEN SOTIEN ELSE -SOTIEN END,NGAYGD,LOAIGD FROM GD_GOIRUT WHERE SOTK=@soTK
		UNION
		SELECT SOTIENBIENDONG= CASE WHEN LOAIGD='GT' THEN SOTIEN ELSE -SOTIEN END,NGAYGD,LOAIGD FROM LINK1.NGANHANG.dbo.GD_GOIRUT WHERE SOTK=@soTK
		UNION
		SELECT SOTIENBIENDONG=CASE WHEN SOTK_CHUYEN=@soTK THEN -SOTIEN ELSE SOTIEN END,NGAYGD,'CT' LOAIGD FROM GD_CHUYENTIEN WHERE SOTK_CHUYEN=@soTK OR SOTK_NHAN=@soTK
		) GD;
			
		SELECT *,(SODUDAU+SOTIEN) SODUCUOI FROM(
		SELECT NGAYGD,LOAIGD,SOTIENBIENDONG AS SOTIEN,(@soDu-(SELECT SUM(SOTIENBIENDONG) FROM #tmp11 B WHERE B.NGAYGD>=A.NGAYGD)) SODUDAU  FROM #tmp11 A  WHERE NGAYGD>=@from AND NGAYGD<=@to
		) REC ORDER BY NGAYGD;
		END;
	END;
	ELSE  
	BEGIN
		/*RAISERROR('So tai khoan khong ton tai',16,1); Truong hop nay dang le phai raise error nhung bi conflict voi report*/
		SELECT @soDu=SODU FROM TAIKHOAN WHERE SOTK=@soTK;
		SELECT * INTO #tmp3 FROM
		(
		SELECT SOTIENBIENDONG= CASE WHEN LOAIGD='GT' THEN SOTIEN ELSE -SOTIEN END,NGAYGD,LOAIGD FROM GD_GOIRUT WHERE SOTK=@soTK
		UNION
		SELECT SOTIENBIENDONG=CASE WHEN SOTK_CHUYEN=@soTK THEN -SOTIEN ELSE SOTIEN END,NGAYGD,'CT' LOAIGD FROM GD_CHUYENTIEN WHERE SOTK_CHUYEN=@soTK OR SOTK_NHAN=@soTK
		) GD;

	
		SELECT *,(SODUDAU+SOTIEN) SODUCUOI FROM(
		SELECT NGAYGD,LOAIGD,SOTIENBIENDONG AS SOTIEN,(@soDu-(SELECT SUM(SOTIENBIENDONG) FROM #tmp3 B WHERE B.NGAYGD>=A.NGAYGD)) SODUDAU  FROM #tmp3 A  WHERE NGAYGD>=@from AND NGAYGD<=@to
		) REC ORDER BY NGAYGD DESC;
	END;
END


