USE [NGANHANG]
GO
/****** Object:  StoredProcedure [dbo].[SP_THONGKETK]    Script Date: 6/4/2023 7:29:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_THONGKETK]
	@maCN nchar(10),
	@from DATETIME,
	@to DATETIME
AS
BEGIN
  SET NOCOUNT ON;  
    IF 1=0 BEGIN  
        SET FMTONLY OFF  
    END  
	/*IF OBJECT_ID('tempdb..#tmp') IS NOT NULL DROP TABLE #tmp*/
	BEGIN
		SELECT * INTO #TEMP2 FROM (
		SELECT SOTK, TK.CMND, KH.HO, KH.TEN, SODU, TK.NGAYMOTK, TK.MACN FROM TAIKHOAN TK INNER JOIN LINK2.NGANHANG.dbo.KhachHang KH ON TK.CMND = KH.CMND AND TK.MACN = @maCN) TK;
		SELECT SOTK, CMND, HO, TEN, SODU, NGAYMOTK FROM #TEMP2 A WHERE (A.MACN = @maCN AND A.NGAYMOTK>=@from AND A.NGAYMOTK<=@to) ORDER BY A.NGAYMOTK;
	END;
END;

